<ion-view view-title="languageSelection" hide-nav-bar="true" cache-view="false" class="languageSelection">
    <ion-content class="ng-cloak" has-bouncing="false" scroll="false">
        <button class="button button-float" ui-sref="languageSelection">
            <i class="icon ion-home"></i>
        </button>
        <div class="row" style="padding: 0px" ng-style="{height: iframeHeight + 'px'}">
            <div class="col col-50" style="padding: 0px 5px 0px 0px;position:relative">
                <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
                    <div class="col col-20"></div>
                    <div class="col col-80" style="width:100%;">
                        <div class="row" style="padding:70px 0px">
                            <div class="col">
                                <div style="width:100%;height:400px">
                                    <img src="img/Welcome Page/平面圖.png" alt="" width="100%">
                                </div>
                                <div style="display:table;margin: 30px 25px;text-align:center;border:1px solid #000;width:150px">
                                    <h2 style="display:table-cell;vertical-align:middle;">
                                        平面圖
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50" style="padding: 0px 5px 0px 0px;">
                <div class="row">
                    <div class="col">
                        <div class="row row-center" style="margin:40% auto;">
                            <div class="col">
                                <div class="row">
                                    <div class="col col-20">
                                        <i style="color:#bb5595;font-size:40px" class="icon ion-android-radio-button-on"></i>
                                    </div>
                                    <div class="col">
                                        <h4>以AR技術從<span style="color:#bb5595;">探知點</span>閱讀更多資訊</h4>
                                        <h4>(透過ipad屏幕尋找此標記以啟動AR模式)</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-20">
                                        <h4>
                                            <div style="background:#0c60ee;width:30px;height:10px"></div>
                                        </h4>
                                    </div>
                                    <div class="col">
                                        <h4>以<span style="color:#0c60ee;">互動資料庫</span>擷取資料至手機</h4>
                                        <h4>(請預先下載手機應用程式)</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-offset-20">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div style="background:#000;width:100px;height:100px">

                                                </div>
                                                <p style="text-align:center;width:100px">IOS</p>
                                            </div>
                                            <div class="col col-50">
                                                <div style="background:#000;width:100px;height:100px">

                                                </div>
                                                <p style="text-align:center;width:100px">Android</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h1 style="color:#33cd5f;font-size:55px">立即開始探索<span class="padding-left "><button ui-sref="review" style="border-radius: 50% !important;border-width:3px;min-width: 65px;min-height: 65px;" class="button button-outline button-balanced" >
                                            <i class="icon ion-chevron-right" style="font-size:55px" ></i></button></span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>