<ion-view view-title="languageSelection" hide-nav-bar="true" cache-view="false">
    <ion-content has-bouncing="false" scroll="false"> 
        <div class="row" style="padding: 0px" ng-style="{height: iframeHeight + 'px'}" >
            <div class="col col-50" style="padding: 0px 5px 0px 0px;position:relative">
                <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
                    <div class="col col-20"></div>
                    <div class="col col-80" style="width:100%;">
                        <div class="row" style="padding:25px 0px">
                            <div class="col">
                                <div style="background:#999;width:100%;height:400px">
                                    <img src="img/Welcome Page/UREC logo.jpg" alt="" width="100%">
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50" style="padding: 0px 5px 0px 0px;">
                <div class="row">
                    <div class="col col-80" style="display:table">
                        <div class="row row-center" style="margin:80% auto;text-align:center">
                            <div class="col">
                                <span class="padding">
                                    <button ui-sref="floorPlan" style="min-width:150px" class="button button-outline button-dark button-large">
                                        中文
                                    </button>
                                </span>
                                
                                <span class="padding">
                                    <button ui-sref="floorPlan" style="min-width:150px" class="button button-outline button-dark button-large">
                                    English
                                </button>
                                </span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col col-20">

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>