<ion-view view-title="Dashboard" hide-nav-bar="true" cache-view="false">
  <ion-content class="ng-cloak" has-bouncing="false" scroll="false">
    <div class="row" style="padding: 0px">
      <button class="button button-float" ng-click="setLang()">
        <span  ng-class="{languageActive: language}">中</span>／<span  ng-class="{languageActive: !language}">Eng</span>
      </button>
      <div class="col col-50 " style="padding: 0px 5px 0px 0px;position:relative">
        <div id="animate-spread-left" class="animated">
        <img src="img/revitalisation/main/樓宇復修.png" alt="樓宇復修" width="100%" style="position:absolute;bottom:0%;padding-right:5px">
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
            <div class="col col-20"></div>
            <div class="col col-80" style="width:100%;background:#11c1f3">
              <div class="row" style="padding:100px 50px;position:relative">
                <div class="col">
                  <h1 style="color:#fff">樓字復修</h1>
                  <div class="padding-top">
                    <div class="row" ui-sref="rehabilitationCMS" style="padding:0">
                      <div class="col c0l-60">
                        <h3 style="color:#fff">
                          計劃內容
                        </h3>
                      </div>
                      <div class="col col-40" >
                        <h3>
                          <i class="icon ion-chevron-right" style="color:#fff"></i>
                        </h3>
                      </div>
                    </div>
                    <div class="row"  ng-click="onClickHandler()" style="padding:0">
                      <div class="col col-60">
                        <h3 style="color:#fff">
                          改善舊樓問題
                        </h3>
                      </div>
                      <div class="col col-40">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-50" style="padding: 0px 0px 0px 5px;position:relative">
        <div id="animate-spread-right" class="animated">
        <img src="img/revitalisation/main/保育及活化.png" alt="保育及活化" width="100%" style="position:absolute;bottom:0%;padding-right:5px">          
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding:0">
            <div class="col col-80" style="width:100%;background:#ffc900">
              <div class="row" style="padding:100px 50px;position:relative">
                <div class="col">
                  <h1 style="color:#fff">{{'REVITALISATION_TITIE' | translate}}</h1>
                  <div class="padding-top">
                    <div class="row" ng-click="onClickHandler(1)" style="padding:0">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          灣仔茂蘿街／巴路士街
                        </h3>
                      </div>
                      <div class="col">
                        <h3>
                          <i class="icon ion-chevron-right" style="color:#fff"></i>
                        </h3>
                      </div>
                    </div>
                    <div class="row" style="padding:0">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          太子道西／園藝街
                        </h3>
                      </div>
                      <div class="col" ui-sref="revitalisationSliderBox"  ui-sref-opts="{reload: true}">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                    <div class="row" ng-click="onClickHandler(1)" style="padding:0">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          百子里活化計劃
                        </h3>
                      </div>
                      <div class="col">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                    <div class="row" ng-click="onClickHandler(1)" style="padding:0">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          更多項目
                        </h3>
                      </div>
                      <div class="col">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-20"></div>
          </div>

        </div>
      </div>
    </div>
    <!--<p>
      <b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and
      co-workers.
    </p>
    <button onclick="window.open('abc://tab/chats', '_system')" class="button button-energized">Open the other app</a>-->
  </ion-content>
</ion-view>