<ion-view view-title="sliderShow" hide-nav-bar="true" nav-transition="none" cache-view="false">
    <ion-content scroll="false" class="sliderShow" scroll="false">
        
        <a ui-sref="revitalisationSlider" class="button button-float" style="right:100px !important">
            <i class="icon ion-arrow-return-left"></i>
      </a>
      <a ui-sref="revitalisation"  class="button button-float">
        <i class="icon ion-home"></i>
      </a>
        <ion-slide-box ng-init="slideChanged(0)" on-slide-changed="slideChanged($index)" auto-play="true" slide-interval="3000" delegate-handle="true" does-continue="true">
            <ion-slide ng-repeat="item in imgList">
                <div ng-style="{height: iframeHeight + 'px'}">
                    <img ng-src="{{item}}" alt="" width="100%" ng-style="{height: iframeHeight + 'px'}">
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>