<ion-view view-title="residentView" hide-nav-bar="true" cache-view="false" class="residentView">
  <ion-content class="ng-cloak" has-bouncing="false" scroll="false">
    <div class="row" style="padding: 0px;position:relative">
      <a class="button button-float" style="right:100px !important" ui-sref="review">
            <i class="icon ion-arrow-return-left"></i>
      </a>
      <a ui-sref="review"  class="button button-float">
        <i class="icon ion-home"></i>
      </a>
      <div class="col col-80 " style="padding: 0px;position:relative">
        <div id="animate-spread-left" class="animated">
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
            <div class="col" style="width:100%;background:#dcd6cb;padding: 0px;">
              <div class="row" style="padding: 0px;">
                <div class="col" style="padding: 0px;">
                  <div class="list">
                    <a class="item item-thumbnail-left" ng-click="setResidentObj($index)" style="padding-left:300px;border:0px" ng-repeat="item in data" ng-class-odd="'odd'" ng-class-even="'even'">
                        <img ng-src="img/review/{{item.person_img}}" style="max-width: 246px; max-height: 246px;top:0px;left:0px">
                        <h1 style="color:#fff">個案<span class="padding-left">{{$index+1}}</span></h1>
                        <h1 style="color:#fff;font-size:30px;font-weight:normal">{{item.topic}}</h1>
                        <h1 style="color:#fff">{{item.case_person}}</h1>
                        <h1><span style="border:3px solid #fff;float:right;border-radius:50%;width:50px;height:50px"><i class="icon ion-plus-round" style="color:#fff;padding: 8px;"></i></span></h3>
                    </a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-20">
      </div>
    </div>
  </ion-content>
</ion-view>