<ion-view view-title="residentView" hide-nav-bar="true" cache-view="false" class="residentView">
    <ion-content class="ng-cloak" has-bouncing="false" scroll="false">
        <div class="row" style="padding: 0px;position:relative">
            <a class="button button-float" style="right:100px !important" ui-sref="residentView">
            <i class="icon ion-arrow-return-left"></i>
      </a>
            <a ui-sref="review" class="button button-float">
        <i class="icon ion-home"></i>
      </a>
            <div class="col col-80 " style="padding: 0px;position:relative">
                <div id="animate-spread-left" class="animated">
                    <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
                        <div class="col" style="width:100%;padding: 0px;">
                            <!--<div class="row" style="padding: 0px;">
                <div class="col" style="padding: 0px;">
                  <div class="list">
                    <a class="item item-thumbnail-left" href="#" style="padding-left:300px;border:0px" ng-repeat="item in data" ng-class-odd="'odd'" ng-class-even="'even'">-->
                            <img ng-src="img/review/{{selectResident.person_img}}" width="250px" height="250px">

                            <div style="width:100%;background: #dcd6cb;margin: -20px 0px;" ng-style="{height: (iframeHeight) + 'px'}">
                                <div style="width:93%;margin:-100px 120px;height:200px;background:#60965b">
                                    <div class="padding-top" style="padding-left:150px">
                                        <h1 style="color:#fff">個案<span class="padding-left">{{1}}</span></h1>
                                        <h1 style="color:#fff;font-size:30px;font-weight:normal">{{selectResident.topic}}</h1>
                                        <h1 style="color:#fff">{{selectResident.case_person}}</h1>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:110px">
                                    <div class="col col-80">
                                        <div style="margin:0 auto;width:400px">
                                            <ul style="list-style-type: square;">
                                                <li style="padding:3px" ng-repeat="item in selectResident.des">
                                                    <h3>{{item}}</h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<h1 style="color:#fff">個案<span class="padding-left">{{$index+1}}</span></h1>
                        <h1 style="color:#fff;font-size:30px;font-weight:normal">{{item.topic}}</h1>
                        <h1 style="color:#fff">{{item.case_person}}</h1>
                        <h1><span style="border:3px solid #fff;float:right;border-radius:50%;width:50px;height:50px"><i class="icon ion-plus-round" style="color:#fff;padding: 8px;"></i></span></h3>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="padding: 0px;margin-left: -80px;">
                <div class="row" style="padding: 0px">
                    <div class="col" style="padding: 0px;position:relative;">
                        <div style="width:100%;position:relative">
                            <div style="width:100%;position: absolute;top: 360px;">
                                <div class="padding" style="background:#999;width:100%;height:200px;" ng-repeat="item in selectResident.resource">

                                </div>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>