<ion-view view-title="Dashboard" hide-nav-bar="true" cache-view="false">
    <ion-content class="ng-cloak" has-bouncing="false">
        <div class="row" style="width:100%;display:table;padding:0" ng-style="{height: iframeHeight + 'px'}">
            <a class="button button-float" ui-sref="reviewInformative({building_type:building})" style="right:100px !important">
                <i class="icon ion-arrow-return-left"></i>
            </a>
            <a ui-sref="review" class="button button-float">
                <i class="icon ion-home"></i>
            </a>
            <div class="col" style="padding:0">
                <img src="img/review/reviewMap.png" alt="" width="100%">
            </div>
        </div>
    </ion-content>
</ion-view>