<ion-view view-title="Chats" hide-nav-bar="true">
  <ion-content style="background:#999;">
    <div class="row row-center" style="padding:5px 0px;">
      <div class="col col-center" style="padding:5px 0px">
        <div style="width:100%;height:300px;background-color:white;margin: 20% auto;">
          <div class="row">
            <div class="col col-50"></div>
            <div class="col col-50">
              <ul style="list-style-type: square;">
                <li style="padding:3px">
                  <h3>若缺乏妥善保養，結構及設施的失慘嚴重</h3>
                </li>
                <li style="padding:3px">
                  <h3>舊樓宇設計不能符合現代標準</h3>
                </li>
                <li style="padding:3px">
                  <h3>衡量成本效益，以決定合適維修、改造重設或重建方案</h3>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>