<ion-view view-title="sliderBox" hide-nav-bar="true">
    <ion-content has-bouncing="false" on-scroll="false" cache-view="false">
        <div class="row" style="padding: 0px;position:relative">
            <button ui-sref="revitalisation" ui-sref-opts="{reload: true}" class="button button-float">
        <i class="icon ion-home"></i>
    </button>
            <div class="col col-50" style="position:relative;padding: 0px">
                <img src="img/revitalisation/slider/太子道西／園藝街.png" width="100%" alt="太子道西／園藝街" style="position:absolute;bottom:0%;padding-right:10px">
                <div style="width:100%;" ng-style="{height: (iframeHeight-10) + 'px'}">
                    <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
                        <div class="col col-20"></div>
                        <div class="col col-80" style="background:#ffc900">
                            <div class="row" style="padding:25px 50px;position:relative">
                                <div class="col">
                                    <h2 style="color:#fff;margin-bottom:0px">太子道西／園藝街</h2>
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <ul style="list-style-type: square;color:#fff">
                                                    <li style="padding:3px">
                                                        <h4 style="color:#fff">包括10幢被評為二級歷史建築的戰前樓宇</h4>
                                                    </li>
                                                    <li style="padding:3px">
                                                        <h4 style="color:#fff">市區現存最大的相連戰前「騎樓」建築群</h4>
                                                    </li>
                                                    <li style="padding:3px">
                                                        <h4 style="color:#fff">由一間比利時建築公司於1930年代興建</h4>
                                                    </li>
                                                    <li style="padding:3px">
                                                        <h4 style="color:#fff">是當年的「摩登住宅」，採用裝飾藝術建築風格</h4>
                                                    </li>
                                                    <li style="padding:3px">
                                                        <h4 style="color:#fff">已收購的單位修葺後租給與花卉、文化、藝術及教育有關的行業</h4>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50" style="padding: 0px">
                <div class="row" style="padding: 0px">
                    <div class="col col-80" style="padding: 0px">
                        <div style="width:100%;background:rgba(0,0,0,0.0)" ng-style="{height: (iframeHeight-10)+ 'px'}">
                            <ion-scroll direction="y" ng-style="{height: iframeHeight + 'px'}">
                                <ion-list>
                                    <ion-item ng-repeat="item in imgList" class="buidingList">
                                        <div style="width:100%;position:relative;">
                                            <img class="padding" ng-src="{{item.img}}" alt="{{item.text}}" width="100%"></img>
                                            <h2 style="color:#fff;position:absolute;bottom:10%;left:10%" ui-sref="revitalisationSliderShow">{{item.text}}<i class="icon ion-chevron-right padding" style="color:#fff"></i></h2>
                                        </div>
                                    </ion-item>
                                </ion-list>
                            </ion-scroll>
                        </div>
                    </div>
                    <div class="col col-20">

                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>