<ion-view view-title="Dashboard" hide-nav-bar="true" nav-transition="none" >
  <ion-content has-bouncing="false" scroll="false" class="ng-cloak">
    <div class="row" style="padding: 0px;position:relative" >
     <a class="button button-float" ui-sref="revitalisation">
        <i class="icon ion-home"></i>
    </a>
      <a class="button button-float" style="top:90%" ui-sref="revitalisationSlider">
        <i class="icon ion-chevron-left"></i>
    </a>
      <div class="col col-50" style="position:relative;padding:0">
        <img src="img/revitalisation/slider/太子道西／園藝街.png" width="100%" alt="太子道西／園藝街" style="position:absolute;bottom:0%;padding-right:10px">
        <div style="width:100%;" ng-style="{height: (iframeHeight-10) + 'px'}">
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
            <div class="col col-20"></div>
            <div class="col col-80" style="background:#ffc900">
                          <div class="row" style="padding:25px 50px;position:relative">
                <div class="col">
                  <h2 style="color:#fff;margin-bottom:0px">太子道西／園藝街</h2>
                  <div>
                    <div class="row">
                      <div class="col">
                        <ul style="list-style-type: square;color:#fff">
                          <li style="padding:3px">
                            <h4 style="color:#fff">包括10幢被評為二級歷史建築的戰前樓宇</h4>
                          </li>
                          <li style="padding:3px">
                            <h4 style="color:#fff">市區現存最大的相連戰前「騎樓」建築群</h4>
                          </li>
                          <li style="padding:3px">
                            <h4 style="color:#fff">由一間比利時建築公司於1930年代興建</h4>
                          </li>
                          <li style="padding:3px">
                            <h4 style="color:#fff">是當年的「摩登住宅」，採用裝飾藝術建築風格</h4>
                          </li>
                          <li style="padding:3px">
                            <h4 style="color:#fff">已收購的單位修葺後租給與花卉、文化、藝術及教育有關的行業</h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-50" style="padding: 0px">
        <div class="row" style="padding: 0px">
          <div class="col col-80" style="padding: 0px">
            <div style="width:100%;background:rgba(0,0,0,0.0)" ng-style="{height: (iframeHeight-10)+ 'px'}">
              <div class="row" style="padding: 0px">
                <div class="col">
                  <div style="width:100%;position:relative" class="animated slideInRight">
                    <img src="img/revitalisation/slider/樓梯頂通風.jpg" alt="" width="100%" ng-style="{height: (iframeHeight/3)-10 + 'px'}" ></img>
                    <h3 style="color:#fff;position:absolute;bottom:2%;left:5%" ng-click="onClickHandler(3)">樓梯頂通風<i class="icon ion-chevron-right padding" style="color:#fff"></i></h3>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0px">
                <div class="col">
                  <div style="width:100%;position:relative" class="animated slideInRight">
                    <img src="img/revitalisation/slider/露天後樓梯.jpg" alt="露天後樓梯" width="100%" ng-style="{height: (iframeHeight/3)-10 + 'px'}" ></img>
                    <h3 style="color:#fff;position:absolute;bottom:2%;left:5%" ng-click="onClickHandler(3)">露天後樓梯<i class="icon ion-chevron-right padding" style="color:#fff"></i></h3>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0px">
                <div class="col" >
                  <div style="width:100%;position:relative" class="animated slideInRight">
                       <img src="img/revitalisation/slider/PE_活化再用e.jpg" alt="" width="100%" ng-style="{height: (iframeHeight/3)-10 + 'px'}"></img>
                      <h3 style="color:#fff;position:absolute;bottom:5%;left:5%" ng-click="onClickHandler(3)" >活化再用<i class="icon ion-chevron-right padding" style="color:#fff"></i></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-20">

          </div>
        </div>

      </div>
    </div>
    <!--<p>
      <b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and
      co-workers.
    </p>
    <button onclick="window.open('abc://tab/chats', '_system')" class="button button-energized">Open the other app</a>-->
  </ion-content>
</ion-view>