<ion-view view-title="vido" hide-nav-bar="true" nav-transition="none" cache-view="false">
    <ion-content scroll="false" class="sliderShow" scroll="false">
        
    <a ui-sref="revitalisationSlider" class="button button-float" style="right:75px !important">
        <i class="icon ion-arrow-return-left"></i>
      </a>
      <a ui-sref="revitalisation"  class="button button-float">
        <i class="icon ion-home"></i>
      </a>
        <ion-slide-box ng-init="slideChanged(0)" on-slide-changed="slideChanged($index)" auto-play="true" slide-interval="3000" delegate-handle="true" does-continue="true" show-pager="false" >
            <ion-slide>
                <div ng-style="{height: iframeHeight + 'px'}" class="rev_slider">
                    <video ng-style="{height: iframeHeight + 'px'}" ng-src="{{clipSrc}}" style="width:100%;" autoplay loop webkit-playsinline></video>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>