<ion-view view-title="rehabilitation" hide-nav-bar="true" nav-transition="none" class="rehabilitation">
  <ion-content has-bouncing="false" scroll="false" cache-view="false" class="ng-cloak">
    <div class="row" style="padding: 0px;position:relative">
      <a ui-sref="revitalisation" ui-sref-opts="{reload: true}" class="button button-float">
        <i class="icon ion-home"></i>
    </a>
      <a class="button button-float" style="top:90%" ui-sref="revitalisationSlider2">
        <i class="icon ion-chevron-right"></i>
    </a>
      <div class="col col-50" style="position:relative;padding: 0px">
        <img src="img/revitalisation/slider/太子道西／園藝街.png" width="100%" alt="太子道西／園藝街" style="position:absolute;bottom:0%;padding-right:10px">
        <div style="width:100%;" ng-style="{height: (iframeHeight-10) + 'px'}">
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
            <div class="col col-20"></div>
            <div class="col col-80" style="background:#11c1f3">
              <div class="row" style="padding:25px;position:relative">
                <div class="col">
                  
                  <h2 style="color:#fff;margin-bottom:0px">計劃內容</h2>

                  <div class="row" style="padding: 60px 0px" >
                    <div class="col" style="padding: 0px">
                      <div class="row" style="padding: 0px" ng-repeat="item in data" ng-click="selectTopic($index)">
                        <div class="col col-90" style="padding: 0px" >
                          <h3 ng-class="$index == selectedIndex?'white': 'dim'">
                            {{item.topic}}
                          </h3>
                        </div>
                        <div class="col col-10">
                          <h3>
                            <i class="icon ion-chevron-right" ng-class="$index == selectedIndex?'white': 'dim'"></i>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-50" style="padding: 0px" class="ng-cloak">
        <div class="row" style="padding: 0px">
          <div class="col" style="padding: 0px">
            <div style="width:100% ;background:rgb(202, 201, 201);" class="animated" id="animatedHibilitation" ng-style="{height: iframeHeight+ 'px'}">
              <div class="row padding" style="padding:20px 0px;height:250px" >
                <div class="col">
                  <div style="height:100%;text-align:center" >
                      <img ng-src="img/rehabilitation/banner/{{selectedObj.banner}}" alt="{{selectedObj.topic}}" width="200px" >                      
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col">
                  <div style="margin:0 auto;width:400px">
                    <ul style="list-style-type: square;">
                      <li style="padding:3px" ng-repeat="item in selectedObj.des">
                        <h3>{{item}}</h3>
                      </li>                 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>