<ion-view view-title="Dashboard" hide-nav-bar="true" cache-view="false">
  <ion-content class="ng-cloak" has-bouncing="false">
    <div class="row" style="width:100%;display:table;padding:0" ng-style="{height: iframeHeight + 'px'}">
      <a class="button button-float" style="right:100px !important" onclick="window.open('URECAR://', '_system')">
            <i class="icon ion-arrow-return-left"></i>
      </a>
      <a ui-sref="review"  class="button button-float">
        <i class="icon ion-home"></i>
      </a>
      <div class="col" style="display:table-cell;vertical-align:middle;background:rgba(153,153,153,0.65);padding:0">
        <div style="width:100%; height:400px;background:#fff;">
          <div class="row" style="padding: 0px 100px">
            <div class="col col-50">
              <img ng-src="{{buldinInfo.buildingImg}}" class="padding" alt="" width="100%" height="600px">
            </div>
            <div class="col col-50" style="padding: 0px 20px; position:relative">

              <div class="row">
                <div class="col col-80">
                  <img ng-src="{{buldinInfo.banner}}" alt="" width="100%">
                  <ul style="list-style-type: square;">
                    <li style="padding:3px" ng-repeat="item in buldinInfo.des ">
                      <h3>{{item}}</h3>
                    </li>
                  </ul>
                </div>
                <div class="col col-20" ui-sref="reviewMap({building:building_type})">
                  <div style="position:absolute;top:30%;right:-70px">
                    <i style="font-size:80px" class="icon ion-chevron-right"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>