<ion-view view-title="Dashboard" hide-nav-bar="true" cache-view="false">
  <ion-content class="ng-cloak" has-bouncing="false" scroll="false">
    <div class="row" style="padding: 0px;position:relative">
      <button class="button button-float" ng-click="language = !language">
        <span  ng-class="{languageActive: language}">中</span>／<span  ng-class="{languageActive: !language}">Eng</span>
    </button>
      <div class="col col-50 " style="padding: 0px 5px 0px 0px;position:relative">
        <div id="animate-spread-left" class="animated">
          <img src="img/全面分析.png" alt="全面分析" width="100%" style="position:absolute;bottom:0%;padding-right:5px">
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding: 0px">
            <div class="col col-20"></div>
            <div class="col col-80" style="width:100%;background:#999">
              <div class="row" style="padding:100px 50px;position:relative">
                <div class="col">
                  <h1 style="color:#fff">全面分析</h1>
                  <div class="padding-top">
                    <div class="row"  onclick="window.open('urecar://building_ar/en', '_system')">
                      <div class="col">
                        <h3 style="color:#fff">
                          立體模型
                        </h3>
                      </div>
                      <div class="col">
                        <h3>
                          <i class="icon ion-chevron-right" style="color:#fff"></i>
                        </h3>
                      </div>
                    </div>
                    <div class="row"  onclick="window.open('urecar://building/en/0' ,'_system')">
                      <div class="col">
                        <h3 style="color:#fff">
                          資料內容
                        </h3>
                      </div>
                      <div class="col">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-50" style="padding: 0px 0px 0px 5px;position:relative">
        <div id="animate-spread-right" class="animated">
          <img src="img/review/重建發展.png" alt="重建發展" width="100%" style="position:absolute;bottom:0%;padding-right:5px">
          <div class="row" ng-style="{height: iframeHeight + 'px'}" style="padding:0">
            <div class="col col-80" style="width:100%;background:#80b54a">
              <div class="row" style="padding:100px 50px;position:relative">
                <div class="col">
                  <h1 style="color:#fff">重建發展</h1>
                  <div class="padding-top">
                    <div class="row" ng-click="onClickHandler(1)">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          市建局的角色
                        </h3>
                      </div>
                      <div class="col">
                        <h3>
                          <i class="icon ion-chevron-right" style="color:#fff"></i>
                        </h3>
                      </div>
                    </div>
                    <div class="row" ng-click="onClickHandler(1)">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          物業收購政策
                        </h3>
                      </div>
                      <div class="col">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                    <div class="row" ng-click="onClickHandler(1)">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          租客補償 ／ 安置政策
                        </h3>
                      </div>
                      <div class="col">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                    <div class="row" ui-sref="residentView">
                      <div class="col col-90">
                        <h3 style="color:#fff">
                          居民心聲
                        </h3>
                      </div>
                      <div class="col">
                        <h3><i class="icon ion-chevron-right" style="color:#fff"></i>
                          <h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-20"></div>
          </div>

        </div>
      </div>
    </div>
    <!--<p>
      <b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and
      co-workers.
    </p>
    <button onclick="window.open('abc://tab/chats', '_system')" class="button button-energized">Open the other app</a>-->
  </ion-content>
</ion-view>