.languageActive {
    color:yellow;
}
@font-face {
    font-family: TingHeiEL;
    src: url("font/FZLanTingHeiEL-TC.otf") format('opentype');
}

*{
    font-family: TingHeiEL;
}

.button-float {
  background: #999 !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  right: 25px !important;
  top:7px;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important; 
  padding: 0px;
    font-size: 12px;
    width:30px;
    height:30px
  }

.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: ##999 !important; 
}

@keyframes spread-left {
    0%   {opacity: 1; right:0%; top:0px;}
    100% {opacity: 0; right:100%; top:0px;}
}

/* The element to apply the animation to */
.animate-spread-left {
    position: relative;
    background-color: 999;
    animation-name: spread-left;
    animation-duration: 4s;
}

@keyframes spread-right {
    0%   {opacity: 1; left:0%; top:0px;}
    100% {opacity: 0; left:100%; top:0px;}
}

/* The element to apply the animation to */
.animate-spread-right {
    position: relative;
    background-color: 999;
    animation-name: spread-right;
    animation-duration: 4s;
}
.sliderShow .slider-pager{
    text-align: left;
    padding:0px 30px
}
.sliderShow .slider-pager-page{
    color: #fff
}
.slider1TopBk{
    background: url("img/revitalisation/slider/露台.jpg") right bottom no-repeat, url(paper.gif) left top repeat;
}
.buidingList.ng-enter {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}
.buidingList.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}
.rev_slider video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}
* This used to work for parent element of button divs */

/* But it is not enough now, below dont hide play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.languageSelection .button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    display: inline-block;
    padding: 0px 0px 0px 3px;
    vertical-align: inherit;
    font-size: 40px;
    line-height: 41px;
    pointer-events: none;
}
.rehabilitation .dim{
    color: #999
}
.rehabilitation .white{
    color: #fff
}
.residentView .odd{
    background: #78da3f
}
.residentView .even{
    background: #60965b
}
